---
import { getSession } from 'auth-astro/server';
import { getProfile } from '../spotify/spotifyApi.ts';

let session = await getSession(Astro.request);
if (!session) return Astro.redirect("/login");

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/nav/Navbar.astro';
import Profile from '../components/profile/Profile.astro';
import { SignOut } from 'auth-astro/components';
---

<Layout title="//">
    <Navbar />

    <div class="min-h-screen text-white bg-gradient-to-t from-black to-emerald-800 from-80%">
        <Profile />
    </div>
</Layout>

<script>
    


</script>
