---
import { getSession } from 'auth-astro/server';
import { getTopItems } from '../spotify/api.ts';

let session = await getSession(Astro.request);
if (!session) return Astro.redirect("/login");

import Layout from '../layouts/Layout.astro';
---

<Layout title="//">
    <p>Top tracks</p>
</Layout>

<script>
</script>
