---
import "../../styles/global.scss";
import { SignOut } from 'auth-astro/components';
---

<nav class="w-full p-4 text-white bg-zinc-900">
    <div class="flex justify-center">
        <div class="flex justify-between gap-8">
            <a href="/" class="nav-link">Home</a>
            <a href="/tracks" class="nav-link">Tracks</a>
            <a href="/artists" class="nav-link">Artists</a>
            <a href="/recent" class="nav-link">Recent</a>
            <p> | </p>
            <SignOut class="nav-link">Sign out</SignOut>
        </div>
    </div>
</nav>

<style>

</style>
